.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  width: 32%;
  height: 400px;
  border:1px solid grey;
  position: relative;
}

.categories-item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}
  

.categories-item-men {
  background: url(../../images/1.jpg);
  background-size: cover;
  background-position: center;
}

.categories-item-uncategorised {
  background: url(../../images/2.jpg);
  background-size: cover;
  background-position: center;
}

.categories-item-other {
  background: url(../../images/3.jpg);
  background-size: cover;
  background-position: center;
}

.categories-link {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-box-sizing: border-box;
        box-sizing: border-box;
text-align: center;
background: rgba(255, 255, 255, 0.9);
padding: 20px 15px;
color: #444;
font-size: 19px;
font-weight: bold;
text-transform: uppercase;
line-height: 20px;
position: absolute;
bottom: 45px;
left: 50%;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
-webkit-box-shadow: 0px 0px 1px transparent;
        box-shadow: 0px 0px 1px transparent;
width: 75%;
z-index: 2;
-webkit-transition: all .5s;
transition: all .5s;
text-decoration: none;
}

.categories-item:hover .categories-link {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.categories-link p {
  margin: 0;
}

.categories-small {
font-size: 16px;
font-weight: 400;
}