.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-item {
  width: 24%;
}

.featured-item a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition: .4s;
  transition: .4s;
  color: #444;
}

.featured-item a:hover p {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.featured-item-image {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

