:root {
  --main-color: #444;
}

.header {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 1.45rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 3px 15px 3px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 3px 15px 3px rgba(0,0,0,0);
}

.logo {
  color: var(--main-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.menu-item {
  margin: 0;
}

.menu-link {
  color: var(--main-color);
  margin-right: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.45rem;
  padding-bottom: 1.45rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  color: var(--main-color);
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.logo-wrapper {
  margin-right: 15px;
}